*{
    padding: 0px;
    margin: 0px;
}
body {
    padding: 0;
    margin: 0;
    background-color: #cccccc;
}

header {
    height: 30%;
    background-color: white
}

.menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0 auto;
}

 .menu li {
    position: relative;
    top: 0;
    Left: 465px;
    display: inline-block;
    background: #ffffff;
    
    text-align: none;
 }  

 .menu li a{
     text-decoration: none;
 }

 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white;
    Text-align: center;
    background-color: #4aaaa5;
    height: 75px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 240px;
    Height: 30%;
 }

 h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #777777;
    Text-align: right;
    background-color: #ffffff;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 100px;
    Height: 30%;
    float: right;
 }

 

 h3:hover
{
    background: royalblue;
}

.mainbox {
position: relative;
left: 450px;
background-color: white;
width: 960px;
padding: 15px 15px 15px 15px;
margin: 25px 15px 25px 15px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #4aaaa5;
    Text-align: left;
    background-color: #cccccc;
    height: 75px;
    border-bottom-color: #666666;
    border-bottom-style: solid;
    Height: 30%;
    left: 450px;
    margin: 0px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
 }

footer {
background-color: #666666;
height: 25px;
padding: 10px;
text-align: center;
}

img {
    float: left;
    margin-right: 15px;
    margin-left: 10px;
    height: 150px;
    width: 150px;
}